asgiref==3.5.0
backports.zoneinfo==0.2.1
Django==4.0.3
django-ckeditor==6.4.0
django-froala-editor==4.0.10
django-js-asset==2.0.0
djangorestframework==3.13.1
Pillow==9.1.0
pip==22.0.4
pkg_resources==0.0.0
pytz==2022.1
setuptools==44.0.0
sqlparse==0.4.2