{% extends 'base.html' %}
{% block title %} Delete blog post {% endblock  %}
{% block content %}
<h1>Delete Post</h1>
<br>
<br>
<h3>Delete:{{post.title}}</h3>
{% if user.is_authenticated %}
{% if user.id == post.author.id %}

<div class="form-group ">

     <form action="" method="POST">
          {% csrf_token %}
          <strong>Are you sure?</strong>
          <br>
          <br>
          <button class="btn btn-danger">Delete</button>
     </form>
</div>
{% else %}
you are not allowed..
{%endif%}

{% else %}
you are not allowed..
{%endif%}

{% endblock  %}